.d-flex, .flex-justify-end, .flex-end, .flex-justify-center, .flex-align-end, .flex-align-center, .flex-center {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end, .flex-end {
  align-items: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end, .flex-end {
  justify-content: flex-end;
}

.text--primary {
  color: #ffc44a;
}

.text--gray {
  color: #5b8eab;
}

.text--dark {
  color: #202020;
}

.text--blue {
  color: #2495ff;
}

.text--very-dark-blue {
  color: #043860;
}

.text--dark-blue {
  color: #003c60;
}

.text--purple {
  color: #868efd;
}

.text--italic {
  font-style: italic;
}

.text--white {
  color: #fff;
}

.text--bold {
  font-weight: 700;
}

.text--v-rotate {
  transform: rotate(-90deg);
}

.text-- .text--center {
  text-align: center;
}

.text--uppercase {
  text-transform: uppercase;
}

.text__menu--selected {
  color: #fff;
}

.text__menu--unselected {
  color: #043860;
}

.menu__item {
  width: 200px;
  height: 24px;
}

.menu__item--selected {
  background-color: #043860;
}

.menu__item--selected:hover {
  cursor: pointer;
}

.menu__box, .menu__box--deselected {
  width: 12px;
  height: 12px;
  background-color: #ffc44a;
}

.menu__box--deselected {
  background-color: #043860;
}

/* margin font-size * #/2 */
.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

/* 
	br = border-radius
	br-pos-# = # * border-radius size
*/
.br-1 {
  border-radius: 4px;
}

.br-2 {
  border-radius: 8px;
}

.br-topr-1, .br-right-1 {
  border-top-right-radius: 4px;
}

.br-topr-2 {
  border-top-right-radius: 8px;
}

.br-topr-3 {
  border-top-right-radius: 12px;
}

.br-topr-4 {
  border-top-right-radius: 16px;
}

.br-right-1 {
  border-bottom-right-radius: 4px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 32px;
}

.card {
  background-color: #69afff;
}

.bar {
  width: 140px;
  height: 10px;
  background-color: #202020;
  border-radius: 8px;
  position: relative;
}

.bar-color, .bar-blue, .bar-yellow {
  width: 132px;
  height: 6px;
  border-radius: 8px;
  position: absolute;
  top: 2px;
  left: 4px;
}

.bar-yellow {
  background-color: #ffc44a;
}

.bar-blue {
  background-color: #868efd;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-size: 16px;
  background: linear-gradient(90deg, #ffc44a 6%, rgba(0, 0, 0, 0) 6%), linear-gradient(45deg, #2495ff 66%, #003c60 66%);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "header main" "menuarea main" "stats-general main" "stats-level main" "stats-money buttons-container";
}

#header {
  grid-area: header;
}

#menu {
  grid-area: menuarea;
}

#stats-general {
  grid-area: stats-general;
  height: 120px;
}
#stats-general > div {
  height: 32px;
}

#stats-level {
  grid-area: stats-level;
}

#stats-money {
  grid-area: stats-money;
}

#main-text {
  grid-area: main;
}

#buttons-container {
  grid-area: buttons-container;
}

/*# sourceMappingURL=style.css.map */
