.d-flex {
	display: flex;
}

.fd-col {
	flex-direction: column;
}

.flex-center {
	@extend .d-flex;
	justify-content: center;
	align-items: center;
}

.flex-align-center {
	@extend .d-flex;
	align-items: center;
}

.flex-align-end {
	@extend .d-flex;
	align-items: flex-end;
}

.flex-justify-center {
	@extend .d-flex;
	justify-content: center;
}