@use 'variables' as var;

.text--primary {
	color: var.$text-primary;
}

.text--gray {
	color: var.$text-gray;
}

.text--dark {
	color: var.$dark;
}

.text--blue {
	color: var.$blue;
}

.text--very-dark-blue {
	color: var.$very-dark-blue;
}

.text--dark-blue {
	color: var.$text-dark-blue;
}

.text--white {
	color: var.$white;
}

.text--bold {
	font-weight: 700;
}

.text--uppercase {
	text-transform: uppercase;
}

.text__menu--selected {
	color: var.$white;
}

.text__menu--unselected {
	color: var.$background-item-selected;
}