@use 'display';
@use 'text';
@use 'menu';
@use 'margin';
@use 'border';
@use 'padding';
@use 'stats_card';

@use 'variables' as var;

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: var.$font-size;
	background: linear-gradient(90deg, var.$primary 6%, rgba(0, 0, 0, 0) 6%), linear-gradient(45deg, var.$blue 66%, var.$dark-blue 66%);
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "header main" "menuarea main"
	"stats-general main" "stats-level main"
	"stats-money buttons-container";
}

#header {
	grid-area: header;
}

#menu {
	grid-area: menuarea;
}

#stats-general {
	grid-area: stats-general;
	height: 120px;
	
	> div {
		height: 32px;
	}
}

#stats-level {
	grid-area: stats-level;
}

#stats-money {
	grid-area: stats-money;
}

#main-text {
	grid-area: main;
}

#buttons-container {
	grid-area: buttons-container;
}